<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Deploy.ai</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="your-custom-styles.css" />
    <style>
      .card {
        margin-bottom: 20px;
      }
      .card-body p {
        font-size: 1.2rem; /* Adjust the font size if necessary */
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Deploy.ai</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/howitworks">How It Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contribute">Contribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- About Us Section -->
    <section class="container my-5">
      <h1 class="text-center mb-4">About Us</h1>
      <div class="card">
        <div class="card-body">
          <p>
            At Deploy.ai, we're more than just a team – we're a close-knit
            family of tech enthusiasts driven by a shared passion for innovation
            and excellence. Hailing from the vibrant landscapes of India, our
            journey began as four tech aficionados eager to make a mark in the
            world of software deployment.
          </p>
          <p>
            Our roots are deeply embedded in technology, and our hearts beat to
            the rhythm of coding and problem-solving. We've always been
            fascinated by the intricate challenges that organizations face
            during the crucial production phases of their software. It's not
            just about writing code; it's about weaving the very fabric that
            powers businesses, supports growth, and drives innovation.
          </p>
          <p>
            Deploy.ai was born out of a desire to transform the software
            deployment landscape. We observed a gap, a pressing need for a
            solution that not only automates but also intelligently tailors the
            deployment process to fit the unique contours of each organization.
            Our platform is the culmination of our dedication, a tool designed
            to refine and revolutionize the way companies deploy their software.
          </p>
          <p>
            With Deploy.ai, we introduce a blend of AI-driven strategies and a
            user-centric approach to deployment. Our platform isn't just a tool;
            it's your deployment partner, ensuring that every release is smooth,
            every transition seamless, and every update is delivered with
            precision. We believe in a world where software deployment is not a
            hurdle but a lever that propels your organization forward.
          </p>
          <p>
            As a team, our commitment extends beyond our platform. We are
            dedicated to our clients, understanding that their success is our
            success. Every line of code we write, every feature we design, and
            every update we release is infused with our commitment to
            excellence, reliability, and unparalleled support.
          </p>
          <p>
            We invite you to embark on this transformative journey with
            Deploy.ai. Whether you are a small startup or a large enterprise,
            our platform is poised to redefine the way you approach software
            deployment. Join us, and together, let's deploy the future.
          </p>
          <br>

          <div class="col-lg-12 mb-4">
            <div class="authors">
              <!-- Ram -->
              <div class="author">
                <a href="www.linkedin.com.in/ram-kumar-r/" target="_blank">
                  <img src="/frontend/templates/profilepics/elon.jpeg" alt="Ram" class="author-image">
                  <p>Ram</p>
                </a>
              </div>
  
              <!-- Swapna -->
              <div class="author">
                <a href="https://www.linkedin.com/in/swapnashreetripathy/" target="_blank">
                  <img src="/frontend/templates/profilepics/beyonce.webp" alt="Swapna" class="author-image">
                  <p>Swapna</p>
                </a>
              </div>
  
              <!-- Sai -->
              <div class="author">
                <a href="https://www.linkedin.com/in/saikiranthatikonda/" target="_blank">
                  <img src="/frontend/templates/profilepics/thor.webp" alt="Sai" class="author-image">
                  <p>Sai</p>
                </a>
              </div>
  
              <!-- Himani -->
              <div class="author">
                <a href="https://www.linkedin.com/in/prashantkumardey/" target="_blank">
                  <img src="/frontend/templates/profilepics/mulan.jpeg" alt="Himani" class="author-image">
                  <p>Himani</p>
                </a>
              </div>
            </div>
          </div>
      </div>
    </section>

    <!-- Footer -->
    <!-- ... -->

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
<style>
  .authors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .author {
    text-align: center;
    margin: 10px;
  }

  .author img {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image round */
    margin-bottom: 5px;
  }

  .author p {
    margin: 0;
  }
</style>
